.fundoRlt {
  background-image: linear-gradient(180deg, #B3EFB2, #7A9E7E);
  -webkit-background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.realtorio-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.gastos-info, .cofrinho-info, .conta-corrente-info {
  flex-grow: 1;
  margin: 20px;
}

.gastos-info, .cofrinho-info, .conta-corrente-info {
  width: calc(33.33% - 20px);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ccc;
  background-color: rgb(255, 255, 255);
}

.gastos-info {
  border: 2px solid #00ff7f;
  margin-bottom: 50px;
}

.cofrinho-info {
  border: 2px solid #00ff7f;
  margin-top: 50px;
}

.conta-corrente-info {
  border: 2px solid #00ff7f;
  margin-top: 50px;
}

.gastos-info h2, .cofrinho-info h2, .conta-corrente-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #000000;
}

.gastos-info p, .cofrinho-info p, .conta-corrente-info p {
  font-size: 1.2rem;
  margin: 5px 0;
}

progress {
  display: block;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
}

progress::-webkit-progress-value {
  background-color: #2196F3;
  border-radius: 5px;
}

progress::before {
  content: attr(value)"%";
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  right: 5px;
  top: 2px;
}

.realtorio-container h1 {
  text-align: center;
  font-family: Arial Black, Impact, sans-serif;
}

.gastos-tabela:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.gastos-tabela th, .gastos-tabela td {
  padding: 5px 10px;
  text-align: left;
}

.gastos-tabela th {
  font-weight: bold;
}

.faDeleteLeft {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}

.gastos-info, .cofrinho-info, .conta-corrente-info {
  position: relative;
}

.gasto-container {
  position: relative;
}

.delete-button {
  top: 5px;
  right: 10px;
  color: red;
  border: none;
}

.backgroundGrafico{
  background-color: rgba(255, 255, 255, 0.3);
}
/* Estilização básica da tabela */
.gastos-tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.gastos-tabela th,
.gastos-tabela td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.gastos-tabela th {
  background-color: #f2f2f2;
}

/* Estilo para o botão de exclusão */
.delete-button {
  background-color: #ff5555;
  color: #fff;
  padding: 1px 1px 1px 1px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff0000;
}

/* Estilização para ícones FontAwesome, se estiverem sendo usados */
.delete-button .fa-trash {
  margin-right: 2px;
}

.gastos-tabela-wrapper {
  overflow-x: auto;
}

@media (max-width: 767px) {
  .gastos-info, .cofrinho-info, .conta-corrente-info {
    width: calc(50%);
    padding: 10px;
  }

  .gastos-info, .cofrinho-info, .conta-corrente-info {
    width: 100%;
    padding: 10px;
}

.gastos-tabela {
    width: 100%;
    margin-top: 20px;
}

.gastos-tabela th, .gastos-tabela td {
    padding: 5px 10px;
    text-align: left;
}
  
}
